<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Proyectos</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <nav>
        <ul class="nav-menu">
            <li><a href="/">Inicio</a></li>
            <li><a href="/tareas">Tareas</a></li>
            <li><a href="/proyectos">Proyectos</a></li>
        </ul>
    </nav>
    <h1>Lista de Proyectos</h1>
    <table class="project-table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Fecha de Inicio</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="proyecto : ${proyectos}">
            <td th:text="${proyecto.nombre}"></td>
            <td th:text="${proyecto.descripcion}"></td>
            <td th:text="${proyecto.fechaInicio}"></td>
            <td th:text="${proyecto.estado}"></td>
            <td class="project-actions">
                <a th:href="@{/proyectos/editar/{id}(id=${proyecto.id})}" class="btn-edit">Editar</a>
                <a th:href="@{/proyectos/eliminar/{id}(id=${proyecto.id})}" class="btn-delete">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <button class="btn-add" onclick="window.location.href='/proyectos/crear'">Crear Nuevo Proyecto</button>
</body>
</html>