<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Proyectos</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
<nav>
    <ul  class="nav-menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="/tareas">Tareas</a></li>
        <li><a href="/proyectos">Proyectos</a></li>
    </ul>
    <div class="nav-user">
        <span th:text="${#authentication.name}"></span>
        <a th:href="@{/logout}" class="logout-btn">Cerrar sesión</a>
    </div>
</nav>
    <h1>Lista de Proyectos</h1>
    <div class="filtros">
        <form method="get" action="/proyectos/buscar" style="margin-bottom: 20px;">
            <input type="text" name="nombre" placeholder="Buscar proyecto por nombre" required />
            <button type="submit" class="btn">Buscar</button>
        </form>
        <form method="get" action="/proyectos/filtrar" style="margin-bottom: 20px;">
            <select name="estado" required>
                <option value="">Seleccionar estado</option>
                <option value="ACTIVO">Activo</option>
                <option value="EN_PROGRESO">En progreso</option>
                <option value="FINALIZADO">Finalizado</option>
            </select>
            <button type="submit" class="btn">Filtrar</button>
        </form>
    </div>
    <table class="project-table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Fecha de Inicio</th>
            <th>Estado</th>
            <th>Número de Tareas</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="proyecto : ${proyectos}">
            <td th:text="${proyecto.nombre}"></td>
            <td th:text="${proyecto.descripcion}"></td>
            <td th:text="${proyecto.fechaInicio}"></td>
            <td th:text="${proyecto.estado}"></td>
            <td th:text="${proyecto.tareas != null ? proyecto.tareas.size() : 0}"></td>
            <td class="project-actions">
                <a th:href="@{/proyectos/editar/{id}(id=${proyecto.id})}" class="btn-edit">Editar</a>
                <a th:href="@{/proyectos/eliminar/{id}(id=${proyecto.id})}" class="btn-delete">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <button class="btn-add" onclick="window.location.href='/proyectos/crear'">Crear Nuevo Proyecto</button>
    <footer>
        <p>&copy; 2025 Gestor de Proyectos/Tareas. Todos los derechos reservados.</p>
    </footer>
</body>
</html>