<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Tareas</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
<nav>
    <ul  class="nav-menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="/tareas">Tareas</a></li>
        <li><a href="/proyectos">Proyectos</a></li>
    </ul>
    <div class="nav-user">
        <span th:text="${#authentication.name}"></span>
        <a th:href="@{/logout}" class="logout-btn">Cerrar sesión</a>
    </div>
</nav>
<h1>Lista de Tareas</h1>
<table class="project-table">
    <thead>
    <tr>
        <th>Título</th>
        <th>Descripción</th>
        <th>Fecha Límite</th>
        <th>Estado</th>
        <th>Proyecto</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tarea : ${tareas}">
        <td th:text="${tarea.titulo}"></td>
        <td th:text="${tarea.descripcion}"></td>
        <td th:text="${tarea.fechaLimite}"></td>
        <td th:text="${tarea.estado}"></td>
        <td th:text="${tarea.proyecto != null ? tarea.proyecto.nombre : 'Sin proyecto'}"></td>
        <td class="project-actions">
            <a th:href="@{/tareas/editar/{id}(id=${tarea.id})}" class="btn-edit">Editar</a>
            <a href="#" class="btn-delete" th:attr="onclick=|if(confirm('¿Estás seguro de que deseas eliminar esta tarea?')) window.location.href='/tareas/eliminar/${tarea.id}'|">Eliminar</a>
        </td>
    </tr>
    </tbody>
</table>
<button class="btn-add" onclick="window.location.href='/tareas/crear'">Crear Nueva Tarea</button>
<footer>
    <p>&copy; 2025 Gestor de Proyectos/Tareas. Todos los derechos reservados.</p>
</footer>
</body>
</html>