<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div class="auth-container">
    <form class="auth-form" th:action="@{/login}" method="post">
        <input type="text" name="username" placeholder="Usuario" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <button type="submit">Iniciar Sesión</button>
    </form>
    <div th:if="${param.error}">
        <p style="color: red;">Usuario o contraseña incorrectos</p>
    </div>
    <p>¿No tienes cuenta? <a th:href="@{/registro}">Regístrate aquí</a></p>
    </div>
</body>
</html>